package sections

templ BlogSectionView() {
	<article class="grid-full">
		<h1>Writings</h1>
		<p><a href="/blog/using-appstorage-with-observable">Using @AppStorage with @Observable (Swift) &rarr;</a></p>
	</article>
}
