package sections

templ OtherSectionView() {
	<article class="grid-full">
		<h1>Other</h1>
		<p><a href="/blog/my-coffee-recipes">My coffee recipes &rarr;</a></p>
		<p><a href="/blog/i-captured-60-dv-tapes-in-2020">How I captured 60 DV tapes in 2020 &rarr;</a></p>
	</article>
}
